@font-face {
    font-family: RVMontserrat;
    src: url("../fonts/rv-montserrat-light.ttf") format("truetype");
    font-weight: 300;
  }
 
  @font-face {
    font-family: RVMontserrat;
    src: url("../fonts/rv-montserrat-regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: RVMontserrat;
    src: url("../fonts/rv-montserrat-semibold.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: RVMontserrat;
    src: url("../fonts/rv-montserrat-bold.ttf") format("truetype");
    font-weight: 700;
  }

/********
MAIN ARTICLE
********/

a {
    text-decoration: none;
    color:black;

    .mainArticle {
        width:1170px;
        height:500px;
        display: flex;
        margin: auto 135px 30px 135px;
        box-shadow: 0 0 45px 0 rgba(0, 0, 0, .15);
        
        .mainArticle__img {
            width:441px;
            height: 441px;
            align-self: center;
            margin: 30px 49px 29px 30px;
        }

        .mainArticle_div{
            margin: 0;
        }

        .mainArticle__moving {
            width:92px;
            height: 25px;
            margin: 60px 558px 15px auto;
        }

        .mainArticle__h2 {
            width:536px;
            height:100px;
            font-size: 42px;
            margin:auto 114px 25px auto;
            font-family: $fontFamily;
            font-weight: 300;
        }

        .mainArticle_paragraph {
            font-size:18px;
            margin: auto 42px 63px auto;
        }

        .mainArticle_rectangle{
            width: 620px;
            height:1px;
            margin: auto 30px 20px auto;
        }

        .mainArticle_byMyMove {
            width:153px;
            height:41px;
            margin:auto 497px 30px auto;
        }
    }
}